<h1><%= article.title %></h1>

<div class="well">
  <p><%= article.body %></p>
</div>

<a class="btn btn-warning" href="/articles/<%= index %>/edit">
  Edit
</a>

<a id="delete-btn" href="/articles/<%= index %>" class="btn btn-danger">
  Delete
</a>
